@import url('index.css');

.fixed-header{
    background-color: black;
    min-width: var(--minAppWidth);
    position: fixed;
    min-height: var(--minHeightHeader);
    width: 100%;
    top: 0;
    left: 0;    
    right: 0;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    display: flex;
    flex-direction: row;
}

.my-logo{
    color: white;
    font-size: 30px;
    margin-left: var(--marginLeft-Logo); 
    font-weight: bold;
    transition: filter 300ms ease; 
}

.my-logo:hover{
    cursor: default;
    filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.9)); 
}

nav {
    margin-right: var(--marginRight-Nav);
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-top: 5px;
    padding: 0;
}

.navigation-elements{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.navigation-elements li{
    text-align: center;
}

.navigation-elements a {
    color: white;
    text-decoration: none;
    font-weight: 500; 
    transition: filter 300ms ease; 
    margin-right: 40px;
    padding: 6px
}

.navigation-elements a:hover{
    cursor: pointer;
    font-weight: 580;
}

.sidebar-elements{
    position: fixed;
    list-style: none;
    display: flex;   
    flex-direction: column;    
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    width: var(--sidebarWidth);
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.77);
    backdrop-filter: blur(10px);
    top: 0px;
    right: 0px;
    margin-top: 0px;
    padding-left: 0px;
    transform: translateX(100%); 
    transition: 0.35s ease-in-out;
}

.sidebar-elements.open {
    transform: translateX(0);
  }

.sidebar-elements li{
    text-align: center;
    margin-top: 30px;
    margin-left: 30px; 
}

.sidebar-elements a {
    color: white;
    text-decoration: none;
    font-weight: 500; 
    padding: 6px;
    width: 100%;
    transition: filter 300ms ease;
}

.sidebar-elements a:hover{
    cursor: pointer;
    font-weight: 580;
}

.showOnMobile{
    display: none;
}

#close_icon{
    align-items: flex-end;
    justify-content: flex-end;
}

#contact_hover{
    border: 1px solid #ffffff; 
    border-radius: 5px;
    background-color: #ab57ff;
}

#contact_hover:hover{
    border: 2px solid #ffffff; 
    filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.9)); 
}

@media(max-width: 820px){
    .hideOnMobile{
        display: none;
    }
    .showOnMobile{
        display: block;
    }
}

@media(max-width: 480px){
    .sidebar-elements{
        width: 100%;
    }
}


