:root {
  --minAppWidth: 360px;
  --minAppHeight: 640px;
  --minHeightCardContainer: 320px;
  --padding-relValue: 15%;
  --padding-topAbsValue: 60px;
  --sidebarWidth: 250px;
  --maxWidthSections: 1600px;
  --minHeightSections: 640px;
  --marginLeft-Logo: 35px;
  --marginRight-Nav: 0px;
  --marginRight-Footer: 35px;
  --animationDelay: 1.5s;
  --photoFrameSize: 360px;
  --offsetImageContainer: 120px;
  --minWidthProjectCard: 240px;
  --maxWidthProjectCard: 350px;
  --maxHeightProjectCard: 250px;
  --minHeightProjectCard: 100px;
  --marginProjectCard: 50px;
  --numberVisibleProjectCards: 3;
  font-family: 'Montserrat', 'Inter', Arial, sans-serif;
  line-height: 1.4;
  font-weight: 400;
  font-size: 18px;

  color: #ffffff;
  background: linear-gradient(to right, #6157FF, #a927b5);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%; 
  min-height: var(--minAppHeight);
}

h1 {
  font-size: 2.1em;
  line-height: 1.1;
}

@media screen and (max-width: 420px) and (max-height: 820px) {
  :root {
    background: #a557ff; 
    line-height: 1.1;
    font-weight: 300;
    font-size: 16px;
  }

  h1 {
    font-size: 1.8em;
    line-height: 1.1;
  }
}
