:root {
  --minAppWidth: 420px;
  --padding-relValue: 20%;
  --padding-topAbsValue: 60px;
  --sidebarWidth: 250px;
  --maxWidthSections: 1600px;
  --marginLeft-Logo: 35px;
  --marginRight-Nav: 0px;
  --marginRight-Footer: 35px;
  --animationDelay: 1.5s;
  --photoFrameSize: 360px;
  --minHeightSections: 600px;
  --offsetImageContainer: 120px;
  --minWidthProjectCard: 240px;
  --maxWidthProjectCard: 350px;
  --maxHeightProjectCard: 400px;
  --minHeightProjectCard: 350px;
  --marginProjectCard: 10px;
  --numberVisibleProjectCards: 3;
  font-family: 'Montserrat', 'Inter', Arial, sans-serif;
  line-height: 1.4;
  font-weight: 400;
  font-size: 18px;

  color: #ffffff;
  background: linear-gradient(to right, #6157FF, #a927b5);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%; 
  min-height: 100vh;
}

h1 {
  font-size: 2.1em;
  line-height: 1.1;
}
