.portfolio-content-container{
    display: flex;
    flex-direction: column;
}

.project-cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--minWidthProjectCard, 250px), 1fr));
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.project-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.77);
    backdrop-filter: blur(10px);
    border: solid 2px white;
    border-radius: 15px;
    max-width: var(--maxWidthProjectCard, 300px);
    max-height: var(--maxHeightProjectCard, 450px);
    min-width: var(--minWidthProjectCard, 250px);
    min-height: var(--minHeightProjectCard, 450px);
    height: 100%;
    width: 80%;
    margin: auto;
    padding: 10px;
}

.general-project-description{
    overflow-y: auto;
    font-size: 1.1rem;
    text-align: center;
    max-height: 150px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 25px;
    padding: 5px;
}

.project-card-title{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-height: 20px;
}

#portfolio-title{
    display: flex;
    flex-direction: row;
    max-height: 20px;
    align-items: center;
    justify-content: center;
}

.project-card-content{
    height: 100%;
    width: 85%;
}

.project-card-description{
    padding-left: 10px;
    padding-right: 10px;
    max-height: 150px;
    text-align: left;
    overflow-y: scroll;
    margin: auto;
}

@media(max-width: 970px){

    .project-cards-container{
        grid-template-columns: repeat(1, minmax(var(--minWidthProjectCard, 250px), 1fr));
        grid-template-rows: repeat(var(--numberVisibleProjectCards, 3), 1fr);
        height: calc(140vh/var(--numberVisibleProjectCards, 3));
        overflow-y: auto;
        padding: 5px;
        gap: 5px;
        line-height: 1.1;
    }
    .general-project-description{
        height: 130px;
        margin-bottom: 40px;
    }
    
    .project-card-description{
        height: 50px;
        max-width: 75%;
        min-width: 60%;
        width: 100%;
        text-align: left;
        padding: 0px;
    }

    .project-card{
        display: flex;
        flex-direction: row;
        max-width: 100%;
        width: 90%;
        height: 80%;
        min-height: 50%;
        align-items: center;
        justify-content: center;
    } 
    
    .project-card-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:flex-start;
        width: 80%;
        margin: auto;
        height: 100%;
    }
    
    .project-card-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        max-height: 10px;
    }

    .project-reference{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .project-reference img{
        width: 10vh;
        height: 10vh;
        margin-right: 20px;
    }
}