@import url('index.css');

.start-section, .about-section, .portfolio-section {
    min-height: var(--minHeightSections);
    height: calc(100vh - var(--padding-topAbsValue, 60px));
}

.contact-section{
    height: calc(100vh - calc(var(--padding-topAbsValue, 60px)*2));
}

